{% extends "base.html" %}
{% block body %}
<h1>Dosya Yükleme Başarılı</h1>
<h2>Lütfen İşlenmesini Bekleyiniz</h2>
<h2>Dosya adı: {{ random_number }}</h2>
<!-- <h3>Bu Kısaltma Size {{ eta }} Saniye Kazandıracak</h3> -->

<!-- <div class="w3-border">
    <div id="pbar" class="w3-blue" style="height:24px;width:20%"></div>
  </div> -->

<script>
    console.log("{{ random_number }}");
    //make a request to the server every 10 seconds to check if the file is processed
    var inter = setInterval(function(){
        $.ajax({
            url: "/check/{{ random_number }}",
            type: "GET",
            success: function(data){
                if(data == "1"){
                    document.write("<h2>Dosya Hazır indirme başlatılıyor</h2>");
                    setTimeout(function(){
                        window.location.href = "/download/{{ random_number }}";
                    }, 3000);
                    clearInterval(inter);
                }
            }
        });
    }, 10000);

    // var prog = setInterval(function(){
    //     $.ajax({
    //         url: "/prog/{{ random_number }}",
    //         type: "GET",
    //         success: function(data){
    //             document.getElementById("pbar").style.width = data + "%";
    //         }
    //     });
    // }, 10000);

</script>
{% endblock %}